#!/usr/bin/make -f
# -*- makefile -*-

MESA_BUILD_PATH    ?= mesa-20.0.8
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH_CPU  ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)

clean:
	rm -f build
	rm -rf debian/tmp debian/*~ debian/files* debian/substvars

build:
	touch build

binary-indep: build

binary-arch: build
	rm -rf debian/tmp
	install -d debian/tmp/DEBIAN debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/dri
	install --strip $(MESA_BUILD_PATH)/build/src/gallium/targets/dri/libgallium_dri.so debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/dri/xlnx_dri.so
	dpkg-gencontrol -DArchitecture=$(DEB_HOST_ARCH_CPU)
	cp -a debian/postinst       debian/tmp/DEBIAN
	cp -a debian/prerm          debian/tmp/DEBIAN
	cp -a debian/postrm         debian/tmp/DEBIAN
	chown -R root:root debian/tmp
	chmod -$ u+w,go=rX debian/tmp
	dpkg-deb --build debian/tmp ..

binary: binary-indep binary-arch

